/*
*author:武明礼
*for:test
*developed at :2013年6月21日 10:02:34
*Copyright 2013. All rights reserved.
*/
.wrap {margin:30px;font-size:12px;}
.date_input {height:20px;line-height:20px;width:35px;border:1px solid;border-color:#c6c6c6 #eee #eee #c6c6c6;background:#f9f9f9;outline:none;padding-left:5px;}
.timeYM_box {z-index:99;width:220px;height:160px;position:absolute;top:-100px;left:-100px;color:#000000;border:#09c 1px solid;background:#fcfcfc;padding:1px;overflow:hidden;}
.timeYM_box .tit {background:#09c;text-align:center;font-size:12px;color:#fff;height:30px;line-height:30px;position:relative;font-weight:bold;}
.timeYM_box .tit em {position:absolute;left:10px;top:0;cursor:pointer;font-weight:bold;font-family:'Sim Hei';}
.timeYM_box .tit em.next {left:auto;right:10px;}
.timeYM_box .tit em.disable {color:#bcd;cursor:not-allowed;text-shadow:1px 0 0 #fff;}
.timeYM_box .timeCon {width:2000px;height:150px;position:absolute;left:0;}
.timeYM_box .timeCon .oneBlock {width:212px;float:left;margin-top:10px;line-height:25px;padding-left:10px;}
.timeYM_box .timeCon .oneBlock span {display:block;float:left;width:45px;height:25px;margin:0 5px 5px 0;text-align:center;font-size:12px;cursor:pointer;}
.timeYM_box .timeCon .oneBlock span:hover,.timeYM_box .timeCon .oneBlock span.cur {background-color:#eee;color:#08c;}
.timeYM_box .btns {position:absolute;bottom:15px;text-align:center;width:100%;}
.timeYM_box .btns a {color:#09c;font-size:12px;text-decoration:none;}
span.modifyEndYM {padding-right:15px;background:url(../images/note.gif) right center no-repeat;color:#09c;cursor:pointer;}