/*
 * author : wumingli
 * for:validator form
 * developed at : 2013/6/28 14:14
 * Copyright 2013. All rights reserved.
 */
form.valForm {line-height:30px;}
form.valForm input.vFormText {border:1px solid;border-color:#c6c6c6 #eee #eee #c6c6c6;height:20px;line-height:20px;width:150px;outline:none;padding-left:5px;}
form.valForm label {font-size:12px;vertical-align:middle;}
form.valForm span.val_error {color:#f30;font-size:12px;padding-left:5px;}