#inviteBox { background: #fff; font-size:14px; /*border-radius: 3px; box-shadow:1px 1px 1px 1px #e2e2e2; */z-index:999999;height:625px; width:860px;position: absolute; left:50%;margin-left:-430px;/*top:50%;margin-top:-310px;*/ top:20px;}
#inviteBox h3 {font: bold 14px/50px "Microsoft Yahei";height:50px; text-indent: 10px; background:#eee; color:#797979;position: relative;z-index: 2;}
#inviteBox h3 strong, #inviteBox h3 span {display:block;float:left;}
#inviteBox h3 span {font:normal 12px/22px 'Simsun';border:1px solid #ccc;background-color:#fff4cc;height:22px;padding-right:10px;margin:14px 0 0 8px;position: relative;color:#666;}
#inviteBox h3 span i {display:block;float:left;width:6px;height:24px; background: url(../images/titleTipArr.png) no-repeat;position: absolute;left:-6px;}
#inviteBox_shandow {min-height:800px; width:100%; background: #000; opacity: 0.6; filter:alpha(opacity=50);position: absolute;z-index: 999998;left:0; top:0;}
#inviteBoxLeftCon {background: #999;width:210px;float:left;height: 100%; position: relative; z-index: 1; top:-50px;}
#inviteTab {margin-top:60px;}
#inviteTab li {padding-left:35px;border-left: 6px solid #999; cursor: pointer;}
/*#inviteTab li:hover, */#inviteTab li.currentTab { border-left: 6px solid #f8725a;background: #b7b7b7;}
#inviteTab li a { color:#fff; font: bold 14px/45px "Microsoft Yahei"; }
#inviteTab li a:hover {text-decoration: none;}
#inviteCloseBtn {position: absolute; right:-32px;top:0; width:32px;height:32px; background: #000 url(../images/btns.png);cursor:pointer;}
#inviteAdCon {width:150px;height:290px;overflow: hidden;position:absolute;bottom:20px;left: 50%;margin-left: -75px;z-index:2;}
#inviteAdList {position:absolute;left:0;top:0;}
#inviteAdList li {width:150px;height:290px;float:left;overflow: hidden;}
#inviteAdTab {position:absolute;bottom:5px;left: 50%;z-index:3;}
#inviteAdTab li {width:8px;height:8px;float:left;background:#fff;margin-left: 5px; border-radius: 5px; text-indent: -20px; overflow: hidden; cursor: pointer; border: 1px solid #ccc;}
#inviteAdTab li.currentAd {background: #f30;border:1px solid #f30;width:10px;height:10px;border-radius: 6px;position: relative; top:-1px;}
#inviteBoxRightCon {height:575px;background: #ddd;margin-left:210px;}
.rightConBox {display:none;}
#inviteBoxRightTopCon {height:55px;background: #fff;position: relative;}
#inviteBoxRightNav {position: absolute;bottom:0;left:10px;}
#inviteBoxRightNav li {float:left;padding: 10px 15px;cursor: pointer;border-bottom:2px solid #fff; font:normal 14px/14px "Microsoft Yahei"; color:#555;}
#inviteBoxRightNav li:hover, #inviteBoxRightNav li.currentTab {border-bottom:2px solid #f8725a; color:#222;}
#otherGroupList {display: none;}
#inviteBoxRightTopCon .otherGroupCon {position: absolute; right: 20px; bottom:10px;border:1px solid #ccc; padding:5px 10px; border-radius: 2px; font-size: 12px; color:#5f5f5f;}
#inviteBoxRightInnerCon .letterNav { margin: 15px 0 20px 20px; font-family: "Arial";display:none;}
#inviteBoxRightInnerCon .letterNav li {float:left;}
#inviteBoxRightInnerCon .letterNav li span {font-weight: bold; cursor: not-allowed; padding:0 5px;  color:#999;}
#inviteBoxRightInnerCon .letterNav li.hasContent span {color:#f8725a;cursor: pointer;}
#inviteBoxRightInnerCon .letterNav li.currentTab span {text-decoration: underline;cursor: default;}
#inviteBoxRightInnerCon {float:left;width:640px;height:360px;overflow: hidden;margin-top:10px;}
#inviteBoxRightInnerCon dl {float:left; background: #fff; width: 180px; height:60px;margin: 12px 0 0 25px;cursor: pointer;}
#inviteBoxRightInnerCon dl dt {float:left;width:64px;text-align: center;}
#inviteBoxRightInnerCon dl dt img {margin-top: 10px;border-radius: 3px;}
#inviteBoxRightInnerCon dl dd {margin-left:64px;font: 12px/12px "Microsoft Yahei";position: relative;}
#inviteBoxRightInnerCon dl dd h4 {margin-top:12px;}
#inviteBoxRightInnerCon dl dd h4 a{font-weight: normal;color:#5f5f5f; font-size: 14px; line-height: 20px;}
#inviteBoxRightInnerCon dl dd p {font-family: "Simsun"; color:#aaa; padding-top:5px;}
#inviteBoxRightInnerCon dl dd span {display: block;width:18px;height:18px;right:8px;top:10px;background: #dadada url(../images/btns.png) -50px 0 no-repeat;position: absolute;}
#inviteBoxRightInnerCon dl dd span.single {background-position: -52px -18px; width:16px;height:16px;}
#inviteBoxRightInnerCon dl.selectedData dd span {background-position:-32px 0;}
#inviteBoxRightInnerCon dl.selectedData dd span.single {background-position: -32px -18px;}
#inviteBoxPageCon {float:left;width:100%;text-align: center;padding:30px 0; }
#inviteBoxPageCon span {background: #fff; border-radius:2px;color:#8c9499;padding:6px 8px; cursor: pointer; font-family: "Arial"; margin-left:5px;}
#inviteBoxPageCon span:hover, #inviteBoxPageCon span.currentTab {background: #5dade2; color:#fff;}

#inviteBoxRightBottomCon {background: #fff;width:650px;height:75px; position: absolute;bottom:0;right:0;display:none;}
#inviteBoxRightBottomCon label, #inviteBoxRightBottomCon p, #inviteBoxRightBottomCon a {float:left;margin: 30px 0 0 45px; font: 14px/14px "Microsoft Yahei"; color:#999; }
#inviteBoxRightBottomCon label {cursor: pointer;}
#inviteBoxRightBottomCon label span {display: block;width:18px;height:18px; background: #dadada url(../images/btns.png) -50px 0 no-repeat;float:left;margin-right:5px;}
#inviteBoxRightBottomCon p span {color:#f8725a;padding:0 3px;}
#inviteBoxRightBottomCon label span.currentTab {background-position:-32px 0;}
#inviteBox .rightConBox .subBtn {display:inline-block;width:130px;height:36px;color:#fff;border:none;cursor: pointer; background: #f8725a;border-radius: 3px; font-size:16px;position: absolute;top:20px; left:260px;float:none;margin:0;text-align: center;line-height: 36px;}
#inviteBox .rightConBox .subBtn:hover {text-decoration: none;}

/*邀请*/
#inviteBox .rightConBox .quickCon {padding:20px 0 0 20px;}
#inviteBox .rightConBox .quickCon .subBtn {position: inherit;height:30px;line-height: 30px;font-size: 12px;}
#inviteBox .rightConBox .quickCon p {padding-bottom:15px;}
#inviteBox .rightConBox .quickCon ul li {height:40px;}
#inviteBox .rightConBox input {border: 1px solid #c2c2c3;color: #999; font-size: 12px;height: 28px;line-height: 28px;outline: medium none;text-indent: 8px;width: 70%;}
#inviteBox .rightConBox .quickCon .email_error {color:#f30;font-size:12px;margin-left:5px;}
#inviteBox .rightConBox .quickCon hr {height:0px;border-top:1px solid #ccc;width:90%;display: block;margin:15px 0;}
#inviteBox .rightConBox .quickCon p.grayText {font-size:12px;padding-top: 10px;color:#888;}
/*--弹窗  邀请我的站外好友   ————邮箱....pop_invite   start--*/
#inviteBox .rightConBox ul.mailList{height:66px;padding:40px 20px 30px 30px;}
#inviteBox .rightConBox ul.mailList li{width:64px;height:66px;margin:0 12px 0 0;_margin:0 12px 0 0;float:left; text-indent: -9999px;cursor: pointer; background:url(../images/email_icon.png) no-repeat;}
#inviteBox .rightConBox ul.mailList li.gmail_on {background-position: -63px 0;}
#inviteBox .rightConBox ul.mailList li.yeah {background-position: -128px 0;}
#inviteBox .rightConBox ul.mailList li.yeah_on {background-position: -193px -1px;}
#inviteBox .rightConBox ul.mailList li.e163 {background-position: -258px 0;}
#inviteBox .rightConBox ul.mailList li.e163_on {background-position: -323px 0;}
#inviteBox .rightConBox ul.mailList li.e126 {background-position: -388px 0;}
#inviteBox .rightConBox ul.mailList li.e126_on {background-position: -454px 0;}
#inviteBox .rightConBox .formCon {padding-left: 15px;}
#inviteBox .rightConBox .formCon p {padding: 10px 0;font-size:14px;color:#666;}
#inviteBox .rightConBox .formCon p.promitInfo {color:#f30; font-size:12px;}
#inviteBox .rightConBox .formCon input {width:50%;}
#inviteBox .rightConBox .formCon a.subBtn {position: inherit;left:0;top:0;}
#mailInputsSelect {font-family: "Arial"; color:#666; display: none;}