/* CSS Document */
* {margin:0; padding:0;}

/*reset*/
ul,ol,dl {list-style:none;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
a:visited {text-decoration:none;}
a:active {text-decoration:none;}
img{border:none;}
input,table {border:none; margin:0; padding:0;}
textarea{resize:none;}


/* globle */

body{font-size:12px;color:#333333;background:#FFFFFF;font-family:"宋体",'Arial','Verdana', 'sans-serif';}
a:link{color:#005EAC;text-decoration:none}
a:visited{color:#005EAC;text-decoration:none}
a:hover{color:#005EAC;text-decoration:underline}
a:active{color:#005EAC;text-decoration:underline}

.none{display:none}
.clear{clear:both;display:block}
.hidden {overflow:hidden;}

.bold{font-weight:bold}

.cursor {cursor:pointer;}
.red{color:#990000;}
.normal{font-weight:normal}
.highlight{color:#ff9900}
a .highlight{color:#0082CB;font-weight:normal}

/*width*/
.w120 {width:120px;}

/*float*/
.fl {float:left;}
.fr {float:right;}

/*margin*/
.m {margin:auto;}
.mt4 {margin-top:4px;}
.mt5 {margin-top:5px;}
.mt8 {margin-top:8px;}
.mt10 {margin-top:10px;}
.mt12 {margin-top:12px;}
.mt16 {margin-top:16px;}
.mt18 {margin-top:18px;}
.mt20 {margin-top:20px;}
.mt21 {margin-top:21px;}
.mt24 {margin-top:24px;}
.mt26 {margin-top:26px;}
.mt28 {margin-top:28px;}
.mt31 {margin-top:31px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.ml {margin-left:-26px;}
.ml4 {margin-left:4px;}
.ml8 {margin-left:8px;}
.ml10 {margin-left:10px;}
.ml20 {margin-left:20px;}
.ml23 {margin-left:23px;}
.ml28 {margin-left:28px;}
.mrN {margin-right:0;}
.mr1 {margin-right:1px;}
.mr4 {margin-right:4px;}

.mb10 {margin-bottom:10px;}
.mb12 {margin-bottom:12px;}
.mb18 {margin-bottom:18px;}
.mb20 {margin-bottom:20px;}
.mb16{ margin-bottom: 16px;}

.pt2 {padding-top:2px;}
.pt4 {padding-top:4px;}
.pt14 {padding-top:14px;}
.pt16 {padding-top:16px;}
.pt38 {padding-top:38px;}
.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl8 {padding-left:8px;}
.pl12 {padding-left:12px;}
.pl25 {padding-left:25px;}
.pl80 {padding-left:80px;}
.pr10 {padding-right:10px;}









.pr10 {padding-right:10px;}
.pr30 {padding-right:30px;}

.ptNone {padding-top:0;}

.pt3 {padding-top:3px;}
.pt5 {padding-top:5px;}
.pt6 {padding-top:6px;}
.pt8 {padding-top:8px;}
.pt9 {padding-top:9px;}
.pt10 {padding-top:10px;}
.pt12 {padding-top:12px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pb10 {padding-bottom:10px;}
.pbN {padding-bottom:0;}
.pl20 {padding-left:20px;}

.groupItem4_list .mt20 {_margin-top:8px;}

/*border*/
.channel_left .bNone {border:none;}
.bNone {border:none;}
.bb_none {border-bottom:none;}
.b_1 {border-width:1px;}
.b_2 {border-width:2px;}

/* font */
.f12 {font-size:12px;}
.f14 {font-size:14px;}
.fwb {font-weight:bold;}

/*line height*/
.lh25 {line-height:25px;}
.lh28 {line-height:28px;}
.lh32 {line-height:32px;}
.tc {text-align:center;}
.tr {text-align:right;}

/*color*/
.black {color:#000;}
.b1 {color:#0099cc;}
.b2 {color:#336a9f;}
.b3 {color:#377cae;}
.g1 {color:#666;}
.g2 {color:#999;}
.g3 {color:#f8f8f8;}
.baseInfo .g1 {color:#666;}


/* common */

.formError{margin:5px 0px;color:red;display:inline}
.fieldWithErrors{display:inline}


.pagination{padding:8px 3px 15px 3px;margin:3px;height:20px;text-align:center;overflow:hidden;font-family:Arial;}
.pagination a{padding:2px 5px 2px 5px;margin:2px;border:1px solid #999;text-decoration:none;color:#666}
.pagination a:hover,.pagination a:active{color:#FFF;background:#000}
.pagination span.current{padding:2px 5px 2px 5px;margin:2px;font-weight:bold;color:#666;border:1px solid #999;color:#FFF;background:#000}
.pagination span.disabled{padding:2px 5px 2px 5px;margin:2px;border:1px solid #ccc;color:#d1d1d1}
.pagination span.pagenext a{background:url(/images/icons/pagenext.jpg) repeat-x;color:#666}
.pagination span.pagenext a:hover,.pagination a:active{background:url(/images/icons/pagenext.jpg) repeat-x;color:#006699}

.default_input{border-color:#C9C9C9 #999 #999 #C9C9C9;border-width:1px;width:200px;height:18px;padding:2px;font-size:14px;background:#FFF}
.disable_input{border:0px; width:202px; height:18px; padding:2px; font-size:14px; background:#FFF; color:#000}

textarea{border-color:#C9C9C9 #999 #999 #C9C9C9;border-width:1px;padding:2px 0px 0px 2px;color:#666;background:#FFF}

.globle_notice{float: left; background:#F8EDCF; border:1px solid #F3DEDE; padding:10px; line-height:20px;}

/* button */

a.green_button:link,a.green_button:visited{background: url(/images/green_button.png) no-repeat;width: 81px;height: 25px;color: #FFF;display: block;line-height: 25px;text-align: center;}

a.gray_button:link,a.gray_button:visited {background: url(/images/gray_button.png) no-repeat; width:76px; height:25px; color:#333; display:block; line-height:25px; text-align:center;}

a.gray_text:link,a.gray_text:visited {background:#f5f5f5; border:1px solid #dedede; display:inline-block; padding:0 6px; color:#333; height:25px; line-height:25px; text-align:center;cursor:default;}
a.gray_text:hover {text-decoration:none;cursor:default;}

a.yellow_button:link,a.yellow_button:visited{background: url(/images/btnBg_03.png) no-repeat;width: 70px;height: 30px;color: #333;display: block;line-height: 30px;text-align: center;}
a.yellow_add_button:link,a.yellow_add_button:visited{background: url(/images/btnB_03.png) no-repeat;width: 40px; height: 30px;color: #333;display: block;line-height: 30px;padding-left: 30px;}







